.ivelany{
    border-right: 1px solid black;
    width: max-content;
    top: 0;
    left: 0;


    
}
.photo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid rgb(180, 174, 174);
    margin-right: 5px;
    
}
.nom{
    margin-left: 55px;
    margin-top: -33px;
}
.nouvelle_conversation{
    border-radius: 10px;
    background: rgb(55, 101, 202);
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.conversation{
    margin-bottom: 15px;
    
}
.liste_users{
    
    border-radius: 20px;
    width: 200px;
    position: absolute;
    margin-top: -200px;
    margin-left: 200px;
    background: rgba(0,0,0,0.5);
    
}
.statut_actif{
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background: green;
    margin-left: 40px;
    margin-top: -10px;
}
.overlay{
    position: fixed;
    // background: rgba(0,0,0,0.5);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.statut_non_actif{
    height: 8px;
    width: 8px;
    border-radius: 100%;
    margin-left: 40px;
    margin-top: -10px;
}

