<template >
    <div class="ivelany">
       <div class="conversation" v-for="(user) in users">
         <div class="un_conversation" @click="Ouvrir_message"  >
            <div class="photo"></div>
            <div class="statut_actif" v-if="!user.status" v-bind:class="{statut_non_actif}"></div>
            <div class="nom" >{{user.name}}</div>
         </div>
       </div> 
       <div >
        <input type="button" class="nouvelle_conversation" value="Nouvelle conversation" @click="f_affichage_liste_users">
       </div>
       
    </div>
    <div class="overlay" v-if="affichage_liste_users" @click="annuler_affichage_liste_users()"></div>
    <div class="liste_users">
        <div  class="conversation" v-if="affichage_liste_users" v-for="(user) in users">
         <div class="un_conversation" @click="Ouvrir_message"  >
            <div class="photo"></div>
            <div class="statut_actif" v-if="!user.status" v-bind:class="{statut_non_actif}"></div>
            <div class="nom" >{{user.name}}</div>
         </div>
       </div>
    </div>
    
</template>
<script lang="ts" setup>
import {ref} from 'vue'
import {users} from '../../allData'

    const statut_non_actif = ref<Boolean>(false)
    const affichage_liste_users = ref<Boolean>(false)
    const Ouvrir_message=() =>{
        alert("message ouvert")
    }
    const f_affichage_liste_users=() =>{
        affichage_liste_users.value =true
    }
    const annuler_affichage_liste_users=() =>{
        affichage_liste_users.value =false
    }

</script>
<style src="./Sidebare.scss" scoped></style>