.pannel{ 
   border-right: 0cap; 
}
.pannel-content{
    border-radius: 8%;
    width: 78vh;
    height: 78vh;
}
form{
    width: 70%;
    max-width: 800px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input{
    position: relative;
    margin-bottom: 28px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
     border-radius: 6%;
    background: transparent;
    font-size: 20px;
    cursor: text;
    border-radius: 5px;

}
