<template>
  <div class="pannel">
    <div class="pannel-content">
      <form>
        <label for="conversation">Conversation</label>
        <div class="input">
          <textarea id="conversation" rows="5" required></textarea>


          <button type="submit"> Envoyer <span class="arrow"> &#10148 </span></button>


        </div>
      </form>


    </div>
  </div>
</template>
<style src="./Mesagepanel.scss" scoped ></style>
<script lang= 'ts' setup>
import { ref } from "vue "







</script>