<template>
    <div>
        <router-link to="/Login" class="btn btn-outline-primary">Login</router-link>
    </div>
</template>

<script lang="ts" setup>

</script>

<style lang="scss" scoped>

</style>