.list-user{
  display: flex;
  flex-direction: column;
  .all-member{
    .card-member {
      display: flex;
      flex-direction: column;
    
      .name {
        text-transform: capitalize;
        color: $black;
      }
    
      .status {
        width: .5em;
        height: .5em;
        border-radius: 100%;
      }
    
      .online {
        background-color: $status;
      }
    
      .offline {
        background-color: #f53578;
      }
    }
  }
}