<template>
  <div class="list-user">
    <div class="member-group">Membres</div>
    <div class="all-member">
      <div class="card-member" v-for="(member, i) in members" :key="i">
        <div class="member">{{ member.name }}</div>
        <div class="member">{{ member.status }}</div>
        <div class="status" :class="member.status ? 'online' : 'offline'" />
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { User } from '../../../typeData';
const props = defineProps<{ members: User[] }>()
</script>
<style lang="scss" src="./ListUser.scss"></style>