<template>
    <div>
        <div class="contenair">
          <h3>Login</h3>
          <form  method="post" @submit.prevent="handleSubmit">
             <input type="text" class="form-control" v-model="nom"  name="nom" id="nom" placeholder="nom">
             <input type="password" class="form-control" name="password" id="password" placeholder="mot de passe">
             <button class="btn btn-outline-primary">Se connecter</button>
          </form>
        </div>
    </div>
</template>

<script lang="ts" setup>
  import axios from 'axios';
  import { ref } from 'vue';
  import {api} from './../../config'

const nom = ref('');

const handleSubmit = async (event: Event) => {
  event.preventDefault();

  try {
    const response = await axios.post(`${api}/login`, {
      nom: nom.value,
      password: (event.target as HTMLFormElement).password.value,
    });

    console.log(response.data);
  } catch (error) {
    console.error('Erreur :', error);
  }
};
</script>


<style src="./login.css" scoped></style>