.contenair{
    border: 1px solid rgb(242, 245, 247);
    border-radius: 25px;
    background-color: transparent;
    width: 420px;
    height: 390px;
    line-height: 38px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    backdrop-filter : blur(15px);
    padding: 15px;
}

h3{
    text-align: center;
    margin-top: 5%;
}

input{
    width: 93%;
}

input[name=nom]{   
   margin-left: 3%; 
   margin-top: 10%;
   position: relative;
}

input[name=password]{    
   margin-left: 3%; 
   margin-top: 5%;
   position: relative;
}

button{
    width: 93%;
    border-radius: 15px;
    margin-top: 8%;
}

