<template>
  <div class="app">
    <Messagepanel></Messagepanel>
    <router-view></router-view>
  </div>
</template>
<script setup lang="ts">
import Messagepanel from './components/Messagepanel/Messagepanel.vue';

</script>

<style scoped>

body{

background-image: url("./assets/img/nature_0038.jpg");
background-size: cover;
background-position: center;
width: 100vh;
height: 100vh;
}

</style>
